$main-color: rgb(80, 87, 70);
$secondary-color: rgb(201, 219, 178);
$font-color-light:rgb(176, 204, 174);
$font-color: rgb(170, 200, 167);
$font-color2:rgb(140, 165, 138);
$font-color3: rgb(246, 255, 222);
$section-title: rgb(246, 255, 222);
$section-title-hover: rgb(217, 224, 198);